/*
 * base-color: #c62828
 * rgb-base: 198, 40, 40
 */
/* base: elements */
a {
  color: #ff0132;
}
a:hover,
a:focus,
a:active {
  color: #ff0132;
  text-decoration: underline;
}
p a {
  color: #3F3F3F;
  border-bottom: dotted 1px #ff0132;
}
p a:hover,
p a:focus,
p a:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff0132;
}
/*headings*/
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.heading-a > a:hover,
.heading-b > a:hover,
.heading-c > a:hover,
.heading-d > a:hover,
.heading-e > a:hover {
  background-color: #ff0132;
  color: #ffffff;
  text-decoration: none;
}
pre {
  border-left-color: #ff0132;
}
blockquote:after {
  background-color: #ff0132;
}
::selection {
  color: #ffffff;
  background: #ff0132;
}
::-moz-selection {
  color: #ffffff;
  background: #ff0132;
}
/* base: layout */
#pre-header {
  background-color: #273550;
}
#header>.container,
#header>.container-fluid,
#navigation>.container,
#navigation>.container-fluid {
  background-color: #ffffff;
}
.headers-wrapper {
  position: relative;
  z-index: 499;
}
.onscroll #navigation {
  box-shadow:
    0 2px 35px rgba(100,100,100,0.2),
    0 1px 6px rgba(0,0,0,0.1);
}
#footer {
  background-color: #e5e5e5;
}
/* components: accordion */
.panel-title a {
  background-color: #273550;
}
.panel-heading a:hover {
  color: #ff0132;
}
/* components: buttons */
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #ff0132;
  border-color: #ff0132;
  background-color: transparent;
}
.colored-area a.button,
.colored-area input[type="submit"] {
  background-color: #ffffff;
  border-color: #ffffff;
}
a.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
a.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #ff0132;
}
/* components: dropdown-blocks */
.dropdown .trigger {
  color: #ff0132;
}
.colored-area .dropdown .trigger {
  color: #ffffff;
}
.dropdown.open .dropdown-menu {
  border-color: #ff0132;
}
.dropdown.open .dropdown-menu:before {
  border-bottom-color: #ff0132;
}
.colored-area .dropdown-menu,
.colored-area .dropdown-menu legend {
  color: #3f3f3f;
}
.colored-area .dropdown-menu li a {
  color: #ff0132;
  text-decoration: none;
}
.colored-area .dropdown-menu li a.button,
.colored-area .dropdown-menu li input[type="submit"] {
  border-color: #ff0132;
}
.colored-area .dropdown-menu li a:hover,
.colored-area .dropdown-menu li a:active,
.colored-area .dropdown-menu li p a:focus,
.colored-area .dropdown-menu li a.button:focus,
.colored-area .dropdown-menu li a:hover:focus {
  color: #ffffff;
}
.colored-area .dropdown-menu li a:focus {
  color: #ff0132;
}
/* components: fields */
.field--entity-reference-target-type-taxonomy-term ul.links li a {
  color: #ff0132;
}
.field--entity-reference-target-type-taxonomy-term ul.links li a:hover {
  background-color: #ff0132;
}
/* components: flexslider-internal-banner */
#internal-slider-carousel ul.slides > li.flex-active-slide,
#internal-slider-carousel ul.slides > li:hover {
  border-color: #ff0132;
}
#internal-slider-carousel .flex-direction-nav a:before {
  color: #ff0132;
}
@media (max-width: 767px) {
  #internal-slider-carousel .flex-direction-nav a {
    border-color: #ff0132;
    color: #ff0132;
  }
}
/* components: flexslider-main */
.flexslider .slide-caption a:hover {
  background-color: #ff0132;
  text-decoration: none;
}
.flex-direction-nav a {
  color: #ff0132;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  background-color: #ff0132;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
  background-color: #ff0132;
}
/* components: slider-revolution */
.slider-revolution .slide-caption a:hover {
  background-color: #ff0132;
  text-decoration: none;
}
.tparrows:hover {
  background: #ff0132 -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, transparent 100%) repeat scroll 0 0;
  background: #ff0132 -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,transparent 100%) repeat scroll 0 0;
  background: #ff0132 linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, transparent 100%) repeat scroll 0 0;
}
.tp-bullet:hover,
.tp-bullet.selected {
  background-color: #ff0132;
}
/* components: forms */
input.form-text:focus,
input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
input.form-file:focus,
input.form-number:focus,
input.form-color:focus,
textarea.form-textarea:focus,
textarea:focus {
  border-color: #ff0132;
}
.subscribe-form .form-actions button,
.subscribe-form .form-actions button[type="submit"]:hover,
.subscribe-form .form-actions button[type="submit"]:focus {
  color: #ff0132;
  background-color: transparent;
}
/* components: search */
.block-search .form-actions:after,
.block-search .form-actions:focus:after,
.block-search .form-actions:hover:after {
  color: #ff0132;
  background-color: transparent;
}
/* components: image-overlay */
.image-caption span a:hover {
  background-color: #ff0132;
  color: #ffffff;
  text-decoration: none;
}
.overlay i {
  background-color: #ff0132;
}
/* components: menu */
ul.menu li a:hover {
  background-color: #ff0132;
}
#pre-header ul.menu li a:hover {
  background-color: #ffffff;
  color: #ff0132;
}
ul.menu li.menu-item--collapsed > a:before,
ul.menu li.menu-item--expanded > a:before {
  color: #ff0132;
}
.subfooter-area ul.menu li a:hover {
  background-color: #ff0132;
  color: #ffffff;
  text-decoration: none;
}
ul.menu ul li a {
  color: #FFFFFF;
}
#main-navigation ul.menu>li.sfHover>a {
  border-color: #ff0132;
}
/* components: menu: superfish */
#pre-header .sf-menu > li.sfHover > a,
#pre-header .sf-menu > li > a:hover {
  background-color: #ffffff;
  color: #ff0132;
}
#pre-header .sf-menu ul {
  background-color: #ffffff;
  color: #ff0132;
}
#pre-header .sf-menu ul li a {
  color: #ff0132;
}
#pre-header .sf-menu ul li.sfHover > a,
#pre-header .sf-menu ul li a:hover {
  background-color: #ff0132;
  color: #ffffff;
}
#header .sf-menu ul,
#main-navigation .sf-menu ul {
  background-color: #ff0132;
  color: #ffffff;
}
#header .sf-menu > li.sfHover > a {
  background-color: #ff0132;
  color: #ffffff;
}
#main-navigation .sf-menu ul li.sfHover > a,
#main-navigation .sf-menu ul li a:hover,
#header .sf-menu ul li.sfHover > a,
#header .sf-menu ul li a:hover {
  background-color: #ffffff;
  color: #ff0132;
}
/* components: menu: mobile menu */
#pre-header ul.menu.sf-accordion.sf-style-none>li>a:hover,
#pre-header ul.menu.sf-accordion.sf-style-none>li.sf-expanded>a {
  background-color: #ffffff;
  color: #ff0132;
}
#header ul.menu.sf-accordion.sf-style-none>li>a:hover,
#main-navigation ul.menu.sf-accordion.sf-style-none>li>a:hover,
#header ul.menu.sf-accordion.sf-style-none>li.sf-expanded>a,
#main-navigation ul.menu.sf-accordion.sf-style-none>li.sf-expanded>a {
  background-color: #ff0132;
  color: #ffffff;
}
/* components: primary-menus */
#main-navigation ul.menu>li>a:hover {
  background-color: transparent;
  border-color: #ff0132;
}
/* components: node-links */
ul.links li.statistics-counter {
  color: #ff0132;
}
/* components: node */
.post-progress__bar {
  background-color: #ff0132;
}
.share-links ul li a i {
  color: #ff0132;
}
.node-info-item .field--entity-reference-target-type-taxonomy-term ul.links li a,
.node-info-item-term .field--name-field-mt-post-categories a {
  color: #ff0132;
}
/* components: pager */
li.pager__item > a:hover {
  background-color: #ff0132;
}
/* components: primary-menu */
.colored-area ul.menu li a {
  color: #ffffff;
}
body:not(:target) .region-navigation .menu-toggle {
  color: #ff0132;
}
@media (max-width: 767px) {
  body:not(:target) #main-navigation .menu-toggle ~ ul.menu .menu-item a:hover {
    background-color: #ff0132;
    color: #ffffff;
  }
}
/* components: social-links */
.colored-area ul.icons-list li a {
  color: #ffffff;
  border: none;
}
.colored-area ul.icons-list li a:hover {
  background-color: #ffffff;
  color: #ff0132;
}
ul.icons-list li a:hover {
  border-color: #ff0132;
  background-color: #ff0132;
}
/* components: hover effects */
.hover-effect-1:before {
  background-color: #ff0132;
}
/* components: tabs */
.nav-tabs > li > a {
  color: #ff0132;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  color: #3f3f3f;
}
.colored-area .nav-tabs > li.active >  a:after {
  border-top-color: #ff0132;
}
/* components: teaser-listings */
.view-feed .promoted-posts .view-header span {
  background-color: #ff0132;
}
/* components: to-top */
#toTop {
  background-color: #ff0132;
}
#toTop:hover {
  background-color: #ffffff;
  color: #ff0132;
}
/* components: view-archive-summary */
.view-archive ul.views-summary a:hover {
  background-color: #ff0132;
  color: #ffffff;
}
/* components: views */
.views-field-title a:hover {
  color: #fff;
  background-color: #ff0132;
}
.colored-area .views-field-title a:hover {
  color: #ff0132;
  background-color: #fff;
}
.views-field-field-mt-post-categories a {
  background-color: #ff0132;
}
.views-field-field-mt-post-categories a:hover {
  background-color: #ffffff;
  color: #ff0132;
}
/* Components: view-tags-cloud */
.view-mt-tags-cloud .views-row a:hover {
  background-color: #ff0132;
}
